.detailBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: azure;
  z-index: -1;
  background-image: linear-gradient(
    to bottom right,
    rgb(77, 125, 255),
    rgba(50, 27, 160, 0.935)
  );
}

.detailContainer {
  height: 90em;
  width: 55em;
  border: 1px solid black;
  border-width: 2px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 10px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  background-color: whitesmoke;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.88);
}

.detailImg {
  height: 19em;
  width: 26em;
  background-color: gray;
  border-radius: 20px;
  border: 1px solid black;
  /* border-left: solid black; */
}

.detailImgBox {
  /* float: left; */
  height: 20.5em;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  border-bottom: solid rgba(0, 0, 0, 0.23);
  border-spacing: 1em;
  margin-left: 8px;
}

.detailTitle {
  font-family: fantasy;
  font-size: 50px;
  background-color: #13274f;
  color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid black;
  text-align: center;
}

.aiBox {
  float: right;
}

.detailHoursList {
  list-style: none;
  margin-top: -5px;
}

.detailHours {
  margin-top: 14px;
  font-size: 20px;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-align: left;
  color: black;
  font-family: fantasy, sans-serif;
}

.detailCuisines {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  float: left;
  margin-top: 20px;
  border-right: solid rgba(0, 0, 0, 0.345);
  width: 30%;
  height: 36.5%;
  overflow-y: scroll;
}

.cuisineTitle {
  font-family: fantasy;
  font-size: 45px;
  text-align: center;
  
}
#cTitle {
    margin-right: 80px;
}
/* #restInfoTitle {
    
} */

.detailCuisineList {
  margin-top: 10px;
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
  margin-right: 70px;
}

.infoDetail {
  margin-top: 20px;
  
  /* display: flex;
    flex-direction: column; */
}
#restInfoList {
    margin-left: 175px;
}

ul {
  list-style: none;
}

.detailButtons {
  margin-top: 20px;
  padding: 10px;
  margin-left: 65px;
  border-radius: 10px;
  font-size: 20px;

}

#aiTitle {
  margin-top: 160px;
  border-top: solid rgba(0, 0, 0, 0.23);
  width: 98%;
  margin-left: 8px;
}

.aiBox {
  margin-top: 10px;
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
  width: 90%;
  display: flex;
  justify-content: center;
  padding-right: 55px;
}

.aiText {
  margin-left: -20px;
}
#aiButton {
    margin-left: 350px;
}
